@charset "UTF-8";
/*CSS DOCUMENT*/

/******************************************
FONT
*******************************************/
@font-face {
    font-family: 'distant_galaxyregular';
    src: url('../fonts/distant_galaxy/distgrg_-webfont.woff2') format('woff2'),
         url('../fonts/distant_galaxy/distgrg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/******************************************
GLOBAL RULES
*******************************************/

body {
  /*background-color: #000;*/
  background-image: url("../images/background.jpg");
  color: #f0db20;
  font-size: 16px;
  font-family: 'distant_galaxyregular', arial, sans-serif;
}

.hidden {
  display: none;
}

/******************************************
MAIN CONTENT
*******************************************/
header {
  background-color: rgba(0,0,0,0.7);
  padding: 0.625em 0; /*10/16*/
}

header h2 {
  font-family: 'distant_galaxyregular', arial, sans-serif;
  font-size: 2.5em; /*40/16*/
  text-align: center;
}

.content {
  padding: 0.625em;
}

.title {
  display: none;
}

#pieChart {
  background-color: #efefef;
  height: 320px;
  margin: 1.875em auto; /*30/16*/
}

.buttons {
  margin-bottom: 0.625em; /*10/16*/
}

button {
  width: 29%;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.0625em; /*17/16*/
  background-color: transparent;
  border: none;
  color: #f0db20;
}

.buttons button:nth-child(2) {
  margin: 0 4%;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  font: 12px sans-serif;
  border-radius: 6px;
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}

#chartTitle {
  text-align: center;
  padding-top: .5em;
  font-size: 1.0em; 
  color: #fff;
}

/******************************************
HAMBURGER MENU
*******************************************/

.bar {
  display: block;
  width: 60%;
  height: 4px;
  background-color: #f0db20;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  transition: all 0.3s ease-in;
  position: relative;
  top: 0;
}

#middleBar {
  margin-top: 4px;
  margin-bottom: 4px;
}

.dropDownOpen #middleBar {
  opacity: 0;
}

.dropDownOpen .bar:first-child {
  position: relative;
  transform: rotate(45deg);
  top: 8px;
}

.dropDownOpen .bar:last-child {
  position: relative;
  transform: rotate(-45deg);
  top: -8px;
}

#dataMenu {
  display: none;
  padding: 10px 0;
  background-color: #333;
  overflow: hidden;
}

#dataMenu ul li {
  /*width: 95%;*/
  margin: 0.3125em auto; /*5/16*/
}

#dataMenu ul li:last-child {
  border-bottom: none;
}

#dataMenu ul li a {
  display: block;
  color: #f0db20;
  padding: 0.4375em; /*7/16*/
  font-family: helvetica, arial, sans-serif;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

#dataMenu ul li a:hover {
  background-color: #f0db20;
  color: #333;
}

#dataMenu.menuOpen {
  display: block;
}

/******************************************
END OF HAMBURGER MENU
*******************************************/

footer {
  background-color: rgba(0,0,0,0.7);
  padding: 5px;
  text-align: center;
}

footer p {
  font-family: helvetica, arial, sans-serif;
}

/******************************************
TABLET STYLING
*******************************************/

@media screen and (min-width: 768px) {

  header h2 {
    display: none;
  }

  .title {
    display: block;
    font-family: 'distant_galaxyregular', arial, sans-serif;
    font-size: 2.5em; /*40/16*/
    text-align: center;
  }

#pieChart {
    height: 500px;
    margin: 3.125em auto 0 auto; /*50/16*/
  }

  .buttons {
    overflow: hidden;
  }

  .button {
    background-color: #333;
    padding: 1.25em 0; /*20/16*/
    margin-top: 1.25em; /*20/16*/
    transition: all 0.4s ease-out;
  }

  .button:hover {
    background-color: #f0db20;
    color: #333;
  }

  #back {
    float: left;
  }

  #next {
    float: right;
  }

  #dropDown {
    display: none;
  }

  #dataMenu {
    display: block;
    clear: both;
    width: 55%;
    margin: 0 auto;
    padding: 0;
    background: none;
  }

  #dataMenu ul li {
    /*width: 95%;*/
    margin: 0 auto; /*5/16*/
    border-bottom: none;
    padding: 0;
  }

  #dataMenu ul li a {
    display: block;
    color: #f0db20;
    padding: 0.9375em 0; /*15/16*/
    margin: 0.625em 0; /*10/16*/
    font-family: helvetica, arial, sans-serif;
    text-decoration: none;
    transition: all 0.4s ease-out;
    text-align: center;
    background-color: #333;
  }

  #dataMenu ul li a:hover {
    background-color: #f0db20;
    color: #333;
  }


#chartTitle {

  font-size: 1.2em; 

}

}

/******************************************
DESKTOP STYLING
*******************************************/

@media screen and (min-width: 1100px) {

  .title {
    font-size: 3.75em; /*60/16*/
  }

  #pieChart {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  #dataMenu {
    width: 30%;
  }

#chartTitle {

  font-size: 2.0em; 

}

}
